<div class="flex flex-col lg:flex-row items-center">
  <div>
    <div class="text-6xl sm:text-7xl tracking-tighter lg:text-8xl mb-5 text-[color:var(--earthy-beige-light)] font-bold">{{ settings.siteName }}</div>
    <h1 class="text-2xl sm:text-3xl tracking-wide lg:text-4xl mb-5 text-[color:var(--earthy-beige-light)] meow-script-regular">{{ hero.title | safe }}</h1>
    <h2 class="text-[color:var(--earthy-beige-light)] meow-script-regular tracking-wide">{{ hero.subTitle | safe }}</h2>
  </div>
</div>
