{% macro nav(menuColour, siteNameColour, textColour, underlineColour, underlineHoverColour, lgUnderlineHoverColour) %}
  <div
    class="w-full"
    data-test="menuWrapper">
    <div
      class="w-full container"
      data-test="menuContainer">
      <nav class="flex lg:justify-between flex-col xs:flex-row">
        
        <!--Toggle button (hidden on large screens)-->
        <button
          data-test="menuButton"
          type="button"
          class="ml-auto lg:hidden focus:outline-none mb-4 xs:mb-0 xs:order-1 z-30 {{ menuColour | safe }}"
          aria-label="Menu">
    
          <span>Menu</span>
    
          <svg class="h-6 w-6 fill-current inline-block" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
            <path
              data-test="cross"
              class="hidden dark-copy"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
            />
            <path
              data-test="burger"
              class="block"
              fill-rule="evenodd"
              d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
            />
          </svg>
        </button>
    
        <!--Menu-->
        <div
          data-test="menu"
          class="z-20 w-full flex-grow lg:flex lg:items-center lg:w-auto lg:min-w-[540px] text-center hidden lg:bg-transparent lg:order-1"
        >

          <div class="flex justify-center lg:block lg:w-full py-4 lg:py-0">
    
            {% if navigation.firstLevelItems %}
      
              <ul class="max-w-[280px] lg:max-w-full pt-3 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
                {% for item in navigation.firstLevelItems %}
                  <li class="nav__item lg:relative group text-left mt-4 mb-2 lg:mb-0 lg:mt-0">

                    {% if item.text == 'Home' or item.text == 'Contact' or item.text == 'FAQs' or item.text == 'Shop' or item.text == 'About Me' or item.text == 'UK Craft Fairs' %}

                      <a href="{{ item.url }}">
                        <span
                          class="inline-flex lg:flex items-center {{ textColour | safe}} font-medium lg:py-3 lg:px-3 hover:underline-offset-4 hover:decoration-1 hover:underline {{ underlineHoverColour | safe }} {% if item.url == page.url %}underline-offset-4 decoration-2 underline {{ underlineColour | safe }} {% else %} no-underline {% endif %}">

                          <span class="pr-1 lg:pr-0 flex items-center">
                            {{ item.text }}
                            {% if item.secondLevelItems %}
                              <svg width="12px" height="12px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden size-3 lg:inline-block ml-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                              </svg>
                            {% endif %}
                          </span>

                          <svg
                            width="16px"
                            height="16px"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-4 lg:hidden">
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                            />
                          </svg>
                        
                        </span>
                      </a>

                    {% else %}

                      <span
                        class="lg:flex lg:items-center {{ textColour | safe}} font-medium inline-block lg:py-3 lg:px-4 lg:hover:underline-offset-4 lg:hover:decoration-1 lg:hover:underline {{ lgUnderlineHoverColour | safe }} {% if item.url == page.url %}underline-offset-4 decoration-2 underline {{ underlineColour | safe }} {% else %} no-underline {% endif %}">
                        
                        <span class="lg:pr-1">{{ item.text }}</span> 
                        
                        {% if item.secondLevelItems %}
                        
                          <svg
                            width="12px"
                            height="12px"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="hidden size-3 lg:block">
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="m19.5 8.25-7.5 7.5-7.5-7.5"
                            />
                          </svg>
                        {% endif %}
                      </span>

                    {% endif %}


                    {% if item.secondLevelItems %}                    
                      <ul class="ml-3 lg:ml-0 flex flex-col items-left lg:items-center dark-copy lg:absolute lg:hidden lg:z-10 lg:bg-[color:var(--white)] lg:group-hover:block lg:text-left lg:px-4 lg:w-40 lg:border lg:border-solid lg:border-[color:var(--very-light-gray)]">
                      
                        {% for subItem in item.secondLevelItems %}
                          <li class="lg:flex items-center inline-flex text-left">
                            <a
                              href="{{ subItem.url }}"
                              class="pr-1 lg:pr-0 lg:w-full text-sm py-2 lg:py-4 inline-flex items-center lg:hover:underline-offset-4 lg:hover:decoration-1 lg:hover:underline {{ lgUnderlineHoverColour | safe }} {% if subItem.url == page.url %}underline-offset-4 decoration-2 underline {{ underlineColour | safe }} {% else %} no-underline {% endif %}">
                              {{ subItem.text }}

                              <svg
                                width="16px"
                                height="16px"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-4 lg:hidden ml-1">
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                                />
                              </svg>
                            </a>
                            
                          </li>
                        {% endfor %}
                    {% endif %}                
                  </li>
                {% endfor %}

                  <li>
                    <a
                      href={{ settings.instagram | safe }}
                      target="_blank"
                      rel="noopener"
                      class="w-9 h-9 rounded-full bg-[color:var(--white)] flex justify-center items-center hover:opacity-70 border border-solid border-[color:var(--dark-copy)] lg:border-[color:var(--white)]">

                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="20px"
                        height="20px"
                        viewBox="0,0,256,256">
                        <title>Instagram</title>
                        <g
                          fill="var(--dark-copy)"
                          fill-rule="nonzero"
                          stroke="none"
                          stroke-width="1"
                          stroke-linecap="butt"
                          stroke-linejoin="miter"
                          stroke-miterlimit="10"
                          stroke-dasharray=""
                          stroke-dashoffset="0"
                          font-family="none"
                          font-weight="none"
                          font-size="none"
                          text-anchor="none"
                          style="mix-blend-mode: normal">
                          <g transform="scale(5.12,5.12)">
                            <path
                                d="M16,3c-7.16752,0 -13,5.83248 -13,13v18c0,7.16752 5.83248,13 13,13h18c7.16752,0 13,-5.83248 13,-13v-18c0,-7.16752 -5.83248,-13 -13,-13zM16,5h18c6.08648,0 11,4.91352 11,11v18c0,6.08648 -4.91352,11 -11,11h-18c-6.08648,0 -11,-4.91352 -11,-11v-18c0,-6.08648 4.91352,-11 11,-11zM37,11c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM25,14c-6.06329,0 -11,4.93671 -11,11c0,6.06329 4.93671,11 11,11c6.06329,0 11,-4.93671 11,-11c0,-6.06329 -4.93671,-11 -11,-11zM25,16c4.98241,0 9,4.01759 9,9c0,4.98241 -4.01759,9 -9,9c-4.98241,0 -9,-4.01759 -9,-9c0,-4.98241 4.01759,-9 9,-9z">
                            </path>
                          </g>
                        </g>
                      </svg>
                    </a>
                  </li>
              </ul>
      
            {% endif %}
          </div>
        </div>

        <div data-test="siteName" class="meow-script-regular {{ siteNameColour | safe }} text-5xl lg:text-6xl flex items-center xs:max-w-80 sm:max-w-none lg:max-w-[440px] 2xl:max-w-none">
          
          {% if page.url !== '/' %}
            <a href="/">
              <span>{{ settings.siteName }}</span>
            </a>
          {% endif %}
          
        </div>
      </nav>
        
    </div>
  </div>
{% endmacro %}
